In [6]:
CREATE TABLE EmployeeDemo
(
    EmployeeId INT,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT,
    Gender VARCHAR(50)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'EmployeeDemo' in the database.

In [2]:
create table EmployeeSalary
(
    EmployeeID int,
    JobTitle Varchar(50),
    Employee_Salary int
)

In [3]:
INSERT  INTO EmployeeDemo VALUES
(1001,'Pooja' ,'Das',28,'Female')

In [7]:
INSERT  INTO [dbo].[EmployeeDemo] VALUES
(1002, 'Pam', 'Beasley', 30, 'Female'),
(1003, 'Dwight', 'Schrute', 29, 'Male'),
(1004, 'Angela', 'Martin', 31, 'Female'),
(1005, 'Toby', 'Flenderson', 32, 'Male'),
(1006, 'Michael', 'Scott', 35, 'Male'),
(1007, 'Meredith', 'Palmer', 32, 'Female'),
(1008, 'Stanley', 'Hudson', 38, 'Male'),
(1009, 'Kevin', 'Malone', 31, 'Male')

In [8]:
INSERT INTO [dbo].[EmployeeSalary] VALUES
(1001,'DataScience',50000),
(1002, 'Receptionist', 36000),
(1003, 'Salesman', 63000),
(1004, 'Accountant', 47000),
(1005, 'HR', 50000),
(1006, 'Regional Manager', 65000),
(1007, 'Supplier Relations', 41000),
(1008, 'Salesman', 48000),
(1009, 'Accountant', 42000)

#  **SELECT** Statement **(\* , Top , Distinct,  Count, As   ,Max,  Min,   Avg)**

In [1]:
SELECT * FROM EmployeeSalary

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1010,NULL,47000
1009,Accountant,42000
NULL,HR,350000
1011,Salesman,43000

In [2]:
select * from EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male

If Need to select only **FirstName and Age**

  

## **\*** is used to select all row and all column

I

In [12]:
SELECT FirstName ,age  from EmployeeDemo

FirstName,age
Pooja,28
Pam,30
Dwight,29
Angela,31
Toby,32
Michael,35
Meredith,32
Stanley,38
Kevin,31

## If need to Select TOP 5 records of all (\*) employee

In [16]:
SELECT Top 5 * FROM EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male

## If need to Select TOP 5 records of FirstName and LastName of employee

In [17]:
Select top 5 FirstName ,LastName from EmployeeDemo

FirstName,LastName
Pooja,Das
Pam,Beasley
Dwight,Schrute
Angela,Martin
Toby,Flenderson

## **DISTINCT()** find **all the unique values** like in EmployeeID all values are uniques and in Gender only Male and Female Unique.

In [18]:
SELECT DISTINCT(EmployeeID)
    FROM EmployeeDemo

EmployeeID
1001
1002
1003
1004
1005
1006
1007
1008
1009

In [19]:
SELECT DISTINCT(Gender)
    FROM EmployeeDemo

Gender
Female
Male

## **\# COUNT() is used to count the no. of rows**

In [20]:
SELECT COUNT(FirstName)
    from EmployeeDemo

(No column name)
9

## **AS** is used to give the name of the column as in above result it shows **"No column name"**

In [160]:
SELECT COUNT(FirstName) AS FirstName_count
    from EmployeeDemo

FirstName_count
12

## Find All in Employee Salary

In [22]:
SELECT * FROM EmployeeSalary

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

## **Find Maximum (MAX),Minimum (MIN) and Average (AVG) of the Salary in EmployeeSalary**

In [24]:
SELECT MAX(Employee_Salary) AS Max_Salary
from EmployeeSalary

Max_Salary
65000

In [25]:
SELECT MIN(Employee_Salary) AS Min_Salary
from EmployeeSalary

Min_Salary
36000

In [26]:
SELECT AVG(Employee_Salary) as Average_Salary
From  EmployeeSalary

Average_Salary
49111

# **WHERE** Statement =, \<\> , \< , \> , **AND, OR , LIKE, NULL, NOT NULL , IN**

## Select where name is \= , \<>

In [29]:
select * from EmployeeSalary
where Employee_Salary=50000

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1005,HR,50000

In [31]:
select * from EmployeeSalary
where Employee_Salary<>50000

EmployeeID,JobTitle,Employee_Salary
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [28]:
select * from EmployeeSalary
where Employee_Salary<50000

EmployeeID,JobTitle,Employee_Salary
1002,Receptionist,36000
1004,Accountant,47000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [30]:
select * from EmployeeSalary
where Employee_Salary>50000

EmployeeID,JobTitle,Employee_Salary
1003,Salesman,63000
1006,Regional Manager,65000

# **LIKE**  to find text or value with single char

In [46]:
select * from EmployeeSalary
WHERE JobTitle LIKE 'S%'

EmployeeID,JobTitle,Employee_Salary
1003,Salesman,63000
1007,Supplier Relations,41000
1008,Salesman,48000

In [47]:
select * from EmployeeSalary
WHERE JobTitle LIKE '%S'

EmployeeID,JobTitle,Employee_Salary
1007,Supplier Relations,41000

In [49]:
select * from EmployeeSalary
WHERE JobTitle LIKE '%S' AND Employee_Salary<50000

EmployeeID,JobTitle,Employee_Salary
1007,Supplier Relations,41000

In [51]:
select * from EmployeeDemo
WHERE LastName LIKE 'd%%s' AND FirstName like 'p%'

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female

**<span style="color: #f92672;">IS NULL</span> ,   IS <span style="color: #f92672;">NOT</span> <span style="color: #f92672;">NULL</span>**

In [3]:
SELECT *
FROM EmployeeDemo
WHERE LastName IS NULL

In [4]:
SELECT *
FROM EmployeeDemo
WHERE LastName IS NOT NULL

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male

# **IN** used to wirte in one line

In [61]:
SELECT *
FROM EmployeeDemo
WHERE LastName ='Beasley' And LastName ='Das'

In [65]:
SELECT *
FROM EmployeeDemo
WHERE LastName in('Beasley','Das')

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female

In [66]:
SELECT *
FROM EmployeeDemo
WHERE Gender in('Male')

EmployeeId,FirstName,LastName,Age,Gender
1003,Dwight,Schrute,29,Male
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

# GROUP BY and ORDER BY

**GROUP BY** used group unique value with respect to other field like(age in our case)

**ORDER BY** used to arrange value acc. to Ascending order **(ASC)** which is by default and decending order **(DESC)**

In [69]:
SELECT Gender 
FROM EmployeeDemo
GROUP BY Gender

Gender
Female
Male

In [71]:
SELECT Gender ,COUNT(Gender) as Count_Gender 
FROM EmployeeDemo
GROUP BY Gender

Gender,Count_Gender
Female,4
Male,5

In [72]:
SELECT Gender ,age,COUNT(Gender) as Count_Gender 
FROM EmployeeDemo
GROUP BY Gender,age

Gender,age,Count_Gender
Female,28,1
Male,29,1
Female,30,1
Female,31,1
Male,31,1
Female,32,1
Male,32,1
Male,35,1
Male,38,1

In [76]:
SELECT Gender ,COUNT(Gender) as Count_Gender 
FROM EmployeeDemo
WHERE age>32
GROUP BY Gender

-- *****************************************
SELECT * FROM EmployeeDemo

Gender,Count_Gender
Male,2

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [85]:
SELECT Gender ,Employee_Salary,  COUNT(Gender) as Count_Gender_by_Salary 
FROM EmployeeDemo , EmployeeSalary
WHERE Employee_Salary<50000
GROUP by Gender,Employee_Salary
ORDER BY Employee_Salary DESC

Gender,Employee_Salary,Count_Gender_by_Salary
Female,48000,4
Male,48000,5
Female,47000,4
Male,47000,5
Female,42000,4
Male,42000,5
Female,41000,4
Male,41000,5
Female,36000,4
Male,36000,5

In [86]:
SELECT * FROM EmployeeDemo
ORDER BY Age

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1003,Dwight,Schrute,29,Male
1002,Pam,Beasley,30,Female
1004,Angela,Martin,31,Female
1009,Kevin,Malone,31,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1006,Michael,Scott,35,Male
1008,Stanley,Hudson,38,Male

In [87]:
SELECT * FROM EmployeeDemo 
ORDER BY Age DESC

EmployeeId,FirstName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1005,Toby,Flenderson,32,Male
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1001,Pooja,Das,28,Female

In [88]:
SELECT * FROM EmployeeDemo
ORDER BY Age DESC ,Gender DESC

EmployeeId,FirstName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1001,Pooja,Das,28,Female

In [89]:
SELECT * FROM EmployeeDemo
ORDER BY 4 DESC ,5 DESC

EmployeeId,FirstName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1001,Pooja,Das,28,Female

# /\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*_********************************INTERMEDIATE SQL********************************_\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

## **INNER JOIN , LEFT/RIGHT/FULL OUTER JOIN**

## **Add new rows in EmployeeDemo**

In [14]:
Insert into EmployeeDemo VALUES
(1011, 'Ryan', 'Howard', 26, 'Male'),
(NULL, 'Holly', 'Flax', NULL, NULL),
(1013, 'Darryl', 'Philbin', NULL, 'Male')

## Create new Table called **WareHouseEmployeeDemo**

In [5]:
Create Table WareHouseEmployeeDemo
(EmployeeID int, 
FirstName varchar(50), 
LastName varchar(50), 
Age int, 
Gender varchar(50)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'WareHouseEmployeeDemo' in the database.

## **Add new rows in WareHouseEmployeeDemo**

In [15]:
Insert into WareHouseEmployeeDemo VALUES
(1013, 'Darryl', 'Philbin', NULL, 'Male'),
(1050, 'Roy', 'Anderson', 31, 'Male'),
(1051, 'Hidetoshi', 'Hasagawa', 40, 'Male'),
(1052, 'Val', 'Johnson', 31, 'Female')

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'WareHouseEmployeeDemo'.

## Add new rows in EmployeeSalary

In [16]:
INSERT into EmployeeSalary VALUES
(NULL,'HR',350000)

## **Select both Table **EmployeeDemo and EmployeeSalary****

In [94]:
SELECT *
FROM EmployeeSalary
SELECT *
FROM EmployeeDemo

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
NULL,HR,350000

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

## **DELETE the row**

In [95]:
DELETE FROM EmployeeSalary
WHERE EmployeeID  in (1011,1008)

In [96]:
SELECT * from EmployeeSalary

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1009,Accountant,42000
NULL,HR,350000

## **Insert new rows in EmployeeSalary**

In [97]:
INSERT INTO EmployeeSalary VALUES
(1010,NULL,47000),
(1011,'Salesman',43000)

SELECT*FROM EmployeeSalary

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1010,NULL,47000
1009,Accountant,42000
NULL,HR,350000
1011,Salesman,43000

# **INNER JOIN**

In [98]:
SELECT *
from EmployeeDemo
INNER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeId=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Employee_Salary
1001,Pooja,Das,28,Female,1001,DataScience,50000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000

## **FULL OUTER JOIN**

In [99]:
SELECT *
FROM EmployeeDemo
FULL OUTER JOIN EmployeeSalary
on EmployeeDemo.EmployeeId=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Employee_Salary
1001,Pooja,Das,28,Female,1001,DataScience,50000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,NULL,NULL,NULL
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
NULL,NULL,NULL,NULL,NULL,NULL,HR,350000

## **LEFT OUTER JOIN**

In [100]:
SELECT *
FROM EmployeeDemo
LEFT OUTER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Employee_Salary
1001,Pooja,Das,28,Female,1001,DataScience,50000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,NULL,NULL,NULL
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL

## **RIGHT OUTER JOIN**

In [101]:
SELECT *
FROM EmployeeDemo
RIGHT OUTER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Employee_Salary
1001,Pooja,Das,28,Female,1001,DataScience,50000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
NULL,NULL,NULL,NULL,NULL,NULL,HR,350000
1011,Ryan,Howard,26,Male,1011,Salesman,43000

## Joining two table with specific column not all column (EmployeeID,FirstName,LastName,JobTitle,Salary)

## INNER JOIN base on EmployeeDemographics.EmployeeID

In [103]:
SELECT EmployeeDemo.EmployeeId,FirstName,LastName,JobTitle,Employee_Salary
FROM EmployeeDemo
INNER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,JobTitle,Employee_Salary
1001,Pooja,Das,DataScience,50000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,Salesman,43000

## **INNER JOIN base on EmployeeSalary.EmployeeID**

In [104]:
SELECT EmployeeSalary.EmployeeId,FirstName,LastName,JobTitle,Employee_Salary
FROM EmployeeDemo
INNER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,JobTitle,Employee_Salary
1001,Pooja,Das,DataScience,50000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,Salesman,43000

## **RIGHT OUTER JOIN  Base on EmployeeSalary.EmployeeID**

In [106]:
SELECT EmployeeSalary.EmployeeID,FirstName,LastName,JobTitle,Employee_Salary
FROM EmployeeDemo
RIGHT OUTER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Employee_Salary
1001,Pooja,Das,DataScience,50000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1010,NULL,NULL,NULL,47000
1009,Kevin,Malone,Accountant,42000
NULL,NULL,NULL,HR,350000
1011,Ryan,Howard,Salesman,43000

## **Join two table base on EmployeeId  and find  all employee salary except Whose  salary 65000**

In [118]:
SELECT EmployeeDemo.EmployeeID,FirstName,LastName,JobTitle,Employee_Salary
FROM EmployeeDemo
Left OUTER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID
WHERE Employee_Salary<>65000
ORDER by Employee_Salary DESC

EmployeeID,FirstName,LastName,JobTitle,Employee_Salary
1003,Dwight,Schrute,Salesman,63000
1001,Pooja,Das,DataScience,50000
1005,Toby,Flenderson,HR,50000
1004,Angela,Martin,Accountant,47000
1011,Ryan,Howard,Salesman,43000
1009,Kevin,Malone,Accountant,42000
1007,Meredith,Palmer,Supplier Relations,41000
1002,Pam,Beasley,Receptionist,36000

## **Need to find the Aveage Salary of Jobtilte 'Salesman'**

In [133]:
SELECT JobTitle,Employee_Salary
From  EmployeeDemo
INNER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID
WHERE JobTitle='Salesman'

JobTitle,Employee_Salary
Salesman,63000
Salesman,43000

In [128]:
SELECT JobTitle,  AVG(Employee_Salary) AS Average_Salary
From  EmployeeDemo
INNER JOIN EmployeeSalary
ON EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID
WHERE JobTitle='Salesman'
GROUP BY JobTitle

JobTitle,Average_Salary
Salesman,53000

In [114]:
SELECT Gender, COUNT(Gender) as CountGender
from EmployeeDemo
Where Age>31
GROUP BY Gender

Gender,CountGender
Female,1
Male,3

In [116]:
SELECT Gender, COUNT(Gender) as CountGender
from EmployeeDemo
Where Age>31
GROUP BY Gender
ORDER BY Gender DESC

Gender,CountGender
Male,3
Female,1

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* UNION , UNION ALL\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [135]:
SELECT *
from EmployeeDemo
FULL OUTER JOIN WareHouseEmployeeDemo
ON EmployeeDemo.EmployeeId=WareHouseEmployeeDemo.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female,NULL,NULL,NULL,NULL,NULL
1002,Pam,Beasley,30,Female,NULL,NULL,NULL,NULL,NULL
1003,Dwight,Schrute,29,Male,NULL,NULL,NULL,NULL,NULL
1004,Angela,Martin,31,Female,NULL,NULL,NULL,NULL,NULL
1005,Toby,Flenderson,32,Male,NULL,NULL,NULL,NULL,NULL
1006,Michael,Scott,35,Male,NULL,NULL,NULL,NULL,NULL
1007,Meredith,Palmer,32,Female,NULL,NULL,NULL,NULL,NULL
1008,Stanley,Hudson,38,Male,NULL,NULL,NULL,NULL,NULL
1009,Kevin,Malone,31,Male,NULL,NULL,NULL,NULL,NULL
1011,Ryan,Howard,26,Male,NULL,NULL,NULL,NULL,NULL
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,1013,Darryl,Philbin,NULL,Male
NULL,NULL,NULL,NULL,NULL,1050,Roy,Anderson,31,Male
NULL,NULL,NULL,NULL,NULL,1051,Hidetoshi,Hasagawa,40,Male
NULL,NULL,NULL,NULL,NULL,1052,Val,Johnson,31,Female

In [134]:
SELECT *
FROM EmployeeDemo
SELECT*
FROM WareHouseEmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [6]:
SELECT *
FROM EmployeeDemo
UNION
SELECT*
FROM WareHouseEmployeeDemo




SELECT *
FROM EmployeeDemo
UNION ALL
SELECT*
FROM WareHouseEmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [139]:
SELECT *
FROM EmployeeDemo
UNION ALL
SELECT*
FROM WareHouseEmployeeDemo

ORDER BY EmployeeId

EmployeeId,FirstName,LastName,Age,Gender
NULL,Holly,Flax,NULL,NULL
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [140]:
SELECT *
FROM EmployeeDemo

SELECT*
FROM EmployeeSalary

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

EmployeeID,JobTitle,Employee_Salary
1001,DataScience,50000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1010,NULL,47000
1009,Accountant,42000
NULL,HR,350000
1011,Salesman,43000

In [141]:
SELECT *
FROM EmployeeDemo
UNION
SELECT*
FROM EmployeeSalary

: Msg 205, Level 16, State 1, Line 1
All queries combined using a UNION, INTERSECT or EXCEPT operator must have an equal number of expressions in their target lists.

In [142]:
-- INT ,String, int
-- UNION of EmployeeDemographics and EmployeeSalary(union see the datatype of both table and match acc. to it below example are wrong as it  combine firstname with jobtilte and salary with age as both datatype same (varchar and int)
SELECT EmployeeId,FirstName,Age
FROM EmployeeDemo
UNION
SELECT EmployeeID,JobTitle,Employee_Salary
FROM EmployeeSalary

EmployeeId,FirstName,Age
NULL,Holly,NULL
NULL,HR,350000
1001,DataScience,50000
1001,Pooja,28
1002,Pam,30
1002,Receptionist,36000
1003,Dwight,29
1003,Salesman,63000
1004,Accountant,47000
1004,Angela,31
1005,HR,50000
1005,Toby,32
1006,Michael,35
1006,Regional Manager,65000
1007,Meredith,32
1007,Supplier Relations,41000
1008,Stanley,38
1009,Accountant,42000
1009,Kevin,31
1010,NULL,47000
1011,Ryan,26
1011,Salesman,43000
1013,Darryl,NULL

# **Case Statement**

In [145]:
SELECT FirstName , lastName,Age
from EmployeeDemo
where Age is NOT NULL
ORDER BY Age

FirstName,lastName,Age
Ryan,Howard,26
Pooja,Das,28
Dwight,Schrute,29
Pam,Beasley,30
Angela,Martin,31
Kevin,Malone,31
Toby,Flenderson,32
Meredith,Palmer,32
Michael,Scott,35
Stanley,Hudson,38

In [7]:
SELECT FirstName , lastName,Age,
-- when means if-else
CASE 
    WHEN AGE>30 THEN 'OLD'
    when age BETWEEN  27 and 30 then 'Young'
    ELSE 'Baby'
END  AS 'Status'   
FROM EmployeeDemo
where Age is NOT NULL
ORDER BY Age

FirstName,lastName,Age,Status
Ryan,Howard,26,Baby
Pooja,Das,28,Young
Dwight,Schrute,29,Young
Pam,Beasley,30,Young
Angela,Martin,31,OLD
Kevin,Malone,31,OLD
Meredith,Palmer,32,OLD
Holly,Flax,35,OLD
Michael,Scott,35,OLD
Stanley,Hudson,38,OLD

In [151]:
SELECT * 
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

EmployeeId,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Employee_Salary
1001,Pooja,Das,28,Female,1001,DataScience,50000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000

In [154]:
SELECT FirstName,LastName ,JobTitle,Employee_Salary,
CASE
    WHEN JobTitle='Salesman' Then Employee_Salary+(Employee_Salary*.10)
    WHEN JobTitle='Accountant' Then Employee_Salary+(Employee_Salary*.05)
    WHEN JobTitle='HR' Then Employee_Salary+(Employee_Salary*.00001)
    ELSE Employee_Salary+(Employee_Salary*.03)

END as Salary_After_Raise



FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeDemo.EmployeeID=EmployeeSalary.EmployeeID

FirstName,LastName,JobTitle,Employee_Salary,Salary_After_Raise
Pooja,Das,DataScience,50000,51500.00000
Pam,Beasley,Receptionist,36000,37080.00000
Dwight,Schrute,Salesman,63000,69300.00000
Angela,Martin,Accountant,47000,49350.00000
Toby,Flenderson,HR,50000,50000.50000
Michael,Scott,Regional Manager,65000,66950.00000
Meredith,Palmer,Supplier Relations,41000,42230.00000
Kevin,Malone,Accountant,42000,44100.00000
Ryan,Howard,Salesman,43000,47300.00000

# **Having  Clause**

In [161]:
SELECT JobTitle , COUNT(JobTitle) as JobTitle_count
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId
where COUNT(JobTitle) >1
GROUP BY JobTitle
ORDER  by JobTitle_count DESC

: Msg 147, Level 15, State 1, Line 5
An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.

In [162]:
SELECT JobTitle , COUNT(JobTitle) as JobTitle_count
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId
HAVING COUNT(JobTitle) >1
GROUP BY JobTitle
ORDER  by JobTitle_count DESC

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'GROUP'.

In [163]:
SELECT JobTitle , COUNT(JobTitle) as JobTitle_count
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId

GROUP BY JobTitle
HAVING COUNT(JobTitle) >1
ORDER  by JobTitle_count DESC

JobTitle,JobTitle_count
Accountant,2
Salesman,2

In [166]:
SELECT JobTitle , AVG(Employee_Salary) as Aveage_salary
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId

GROUP BY JobTitle
HAVING AVG(Employee_Salary)>45000
ORDER  by Aveage_salary DESC

JobTitle,Aveage_salary
Regional Manager,65000
Salesman,53000
DataScience,50000
HR,50000

# **UPDATE /DELECT**

In [168]:
SELECT * 
FROM EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

In [169]:
UPDATE EmployeeDemo
SET EmployeeId=1012
WHERE FirstName='Holly'

In [171]:
Select *
FROM EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

In [172]:
UPDATE EmployeeDemo
SET Age=35,Gender='Male'
WHERE EmployeeId=1012 


Select *
FROM EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male

In [173]:
-- DELETE from EmployeeDemo
-- Where EmployeeId=1005

Select *
FROM EmployeeDemo

EmployeeId,FirstName,LastName,Age,Gender
1001,Pooja,Das,28,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,35,Male
1013,Darryl,Philbin,NULL,Male

In [175]:
Select *
FROM EmployeeDemo
where EmployeeId=1004

-- DELETE
-- FROM EmployeeDemo
-- where EmployeeId=1004

EmployeeId,FirstName,LastName,Age,Gender
1004,Angela,Martin,31,Female

In [9]:
SELECT FirstName as FName ,LastName lname
 from EmployeeDemo

FName,lname
Pooja,Das
Pam,Beasley
Dwight,Schrute
Angela,Martin
Michael,Scott
Meredith,Palmer
Stanley,Hudson
Kevin,Malone
Ryan,Howard
Holly,Flax
Darryl,Philbin

In [10]:
SELECT FirstName+' '+LastName As FullName
 from EmployeeDemo

FullName
Pooja Das
Pam Beasley
Dwight Schrute
Angela Martin
Michael Scott
Meredith Palmer
Stanley Hudson
Kevin Malone
Ryan Howard
Holly Flax
Darryl Philbin

# **PARTITION BY**

In [16]:
SELECT FirstName+' '+LastName As FullName,Gender,Employee_Salary,
COUNT(Gender) OVER (PARTITION by(Gender)) as Total_Gender
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId

FullName,Gender,Employee_Salary,Total_Gender
Pooja Das,Female,50000,4
Pam Beasley,Female,36000,4
Angela Martin,Female,47000,4
Meredith Palmer,Female,41000,4
Kevin Malone,Male,42000,4
Ryan Howard,Male,43000,4
Michael Scott,Male,65000,4
Dwight Schrute,Male,63000,4

In [18]:
SELECT FirstName+' '+LastName As FullName,Gender,Employee_Salary,
COUNT(Gender)  as Total_Gender
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId
GROUP by FirstName+' '+LastName,Gender,Employee_Salary

FullName,Gender,Employee_Salary,Total_Gender
Angela Martin,Female,47000,1
Dwight Schrute,Male,63000,1
Kevin Malone,Male,42000,1
Meredith Palmer,Female,41000,1
Michael Scott,Male,65000,1
Pam Beasley,Female,36000,1
Pooja Das,Female,50000,1
Ryan Howard,Male,43000,1

In [19]:
SELECT Gender,
COUNT(Gender)  as Total_Gender
FROM EmployeeDemo
JOIN EmployeeSalary
on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId
GROUP by Gender

Gender,Total_Gender
Female,4
Male,4

## A **GROUP BY** normally reduces the number of rows returned by rolling them up and calculating averages or sums for each row.

## **PARTITION BY** does not affect the number of rows returned, but it changes how a window function's result is calculated.

## **Group by**

### 

1. Reduces the no. of records .

1. In select we need to use only columns which are used in group by. but we can use aggregate functions. 

1. In filter condition we need to use **<u>having clause</u>** instead of where clause.

##  **Partition By**

### 

1. No. of records will not be reduced, Instead of that it will add one extra column. 

1. In select we can use N no. of columns. No restrictions. 

1. We can use where clause in filter condition apart from partition column.

# **CTE (Common Table Expression)**

```
The Common Table Expressions (CTE) were introduced into standard SQL in order to simplify various classes of SQL Queries for which a derived table was just unsuitable. CTE was introduced in SQL Server 2005, the common table expression (CTE) is a temporary named result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement. You can also use a CTE in a CREATE a view, as part of the view’s SELECT query. In addition, as of SQL Server 2008, you can add a CTE to the new 
```
```
MERGE statement.
```
```
 Using the CTE – We can define CTEs by adding a WITH clause directly before SELECT, INSERT, UPDATE, DELETE, or MERGE statement. The WITH clause can include one or more CTEs separated by commas. The following syntax can be followed:
```
```
 [WITH  [, ...]]  
 
::=
cte_name [(column_name [, ...])]
AS (cte_query)

```
```
After you define your WITH clause with the CTEs, you can then reference the CTEs as you would refer any other table. However, you can refer a CTE only within the execution scope of the statement that immediately follows the WITH clause. After you’ve run your statement, the CTE result set is not available to other statements. 
```

In [20]:
WITH CTE_Employee 
AS
(
    SELECT * FROM EmployeeDemo
)
SELECT FirstName, LastName FROM CTE_Employee

FirstName,LastName
Pooja,Das
Pam,Beasley
Dwight,Schrute
Angela,Martin
Michael,Scott
Meredith,Palmer
Stanley,Hudson
Kevin,Malone
Ryan,Howard
Holly,Flax
Darryl,Philbin

In [31]:
WITH CTE_Employee
AS
(
    SELECT FirstName,LastName,Gender,Employee_Salary,
    COUNT(Gender) OVER(PARTITION by Gender) as totalgender,
    AVG(Employee_Salary) OVER(partition by Gender) as avgsalary   
    FROM EmployeeDemo
    JOIN EmployeeSalary
    on EmployeeSalary.EmployeeID=EmployeeDemo.EmployeeId
    WHERE Employee_Salary<54000
)
SELECT FirstName, Gender,avgsalary,totalgender 
FROM CTE_Employee

FirstName,Gender,avgsalary,totalgender
Pooja,Female,43500,4
Pam,Female,43500,4
Angela,Female,43500,4
Meredith,Female,43500,4
Kevin,Male,42500,2
Ryan,Male,42500,2

# **TEMP TABLE  
  
**

In [32]:
CREATE TABLE #Temp_Employee 
(
    EmployeeId int,
    Jobtitle VARCHAR(50),
    Salary int

)

In [33]:
SELECT *  FROM #Temp_Employee