# **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*INTERMEDIATE SQL\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

## **INNER JOIN , LEFT/RIGHT/FULL  OUTER JOIN**

### **Add new rows in** **EmployDemographics**

In [1]:
Insert into EmployeeDemographics VALUES
(1011, 'Ryan', 'Howard', 26, 'Male'),
(NULL, 'Holly', 'Flax', NULL, NULL),
(1013, 'Darryl', 'Philbin', NULL, 'Male')

## Create new  Table called **WareHouseEmployeeDemograhics**

In [2]:
Create Table WareHouseEmployeeDemographics 
(EmployeeID int, 
FirstName varchar(50), 
LastName varchar(50), 
Age int, 
Gender varchar(50)
)

### **Add new rows in WareHouseEmployeeDemographics**

In [3]:
Insert into WareHouseEmployeeDemographics VALUES
(1013, 'Darryl', 'Philbin', NULL, 'Male'),
(1050, 'Roy', 'Anderson', 31, 'Male'),
(1051, 'Hidetoshi', 'Hasagawa', 40, 'Male'),
(1052, 'Val', 'Johnson', 31, 'Female')

### **Add new rows in EmployeeSalary**

In [11]:
INSERT INTO EmployeeSalary VALUES
(NULL,'HR',35000)

### **Select both Table EmployeeDemographics and EmployeeSalary**

In [22]:
SELECT *
FROM EmployeeSalary
SELECT *
FROM EmployeeDemographics

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
1011,Salesman,43000
NULL,HR,35000

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

## **DELETE** the row

In [23]:
DELETE FROM EmployeeSalary
WHERE EmployeeID IN (1010,1011)

SELECT*FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
NULL,HR,35000

### 

- Insert new rows in **EmployeeSalary**

In [24]:
INSERT INTO EmployeeSalary VALUES
(1010,NULL,47000),
(1011,'Salesman',43000)

SELECT*FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
1011,Salesman,43000
NULL,HR,35000

## **INNER  JOIN**

In [25]:
SELECT *
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Harin,32,Male,1001,Salesman,45000
1002,John,Mark,35,Male,1002,Receptionist,36000
1003,Riya,Ray,28,Female,1003,Salesman,63000
1004,Harry,pal,36,Male,1004,Accountant,47000
1005,Ram,Singh,38,Male,1005,HR,50000
1006,Harry,pal,36,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000

## **FULL OUTER JOIN**

In [26]:
SELECT *
FROM EmployeeDemographics
FULL OUTER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Harin,32,Male,1001,Salesman,45000
1002,John,Mark,35,Male,1002,Receptionist,36000
1003,Riya,Ray,28,Female,1003,Salesman,63000
1004,Harry,pal,36,Male,1004,Accountant,47000
1005,Ram,Singh,38,Male,1005,HR,50000
1006,Harry,pal,36,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
NULL,NULL,NULL,NULL,NULL,NULL,HR,35000

## **LEFT OUTER JOIN**

In [27]:
SELECT *
FROM EmployeeDemographics
LEFT OUTER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Harin,32,Male,1001,Salesman,45000
1002,John,Mark,35,Male,1002,Receptionist,36000
1003,Riya,Ray,28,Female,1003,Salesman,63000
1004,Harry,pal,36,Male,1004,Accountant,47000
1005,Ram,Singh,38,Male,1005,HR,50000
1006,Harry,pal,36,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,1011,Salesman,43000
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL

## 

- **RIGHT OUTER JOIN**

In [28]:
SELECT *
FROM EmployeeDemographics
RIGHT OUTER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Harin,32,Male,1001,Salesman,45000
1002,John,Mark,35,Male,1002,Receptionist,36000
1003,Riya,Ray,28,Female,1003,Salesman,63000
1004,Harry,pal,36,Male,1004,Accountant,47000
1005,Ram,Singh,38,Male,1005,HR,50000
1006,Harry,pal,36,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
1011,Ryan,Howard,26,Male,1011,Salesman,43000
NULL,NULL,NULL,NULL,NULL,NULL,HR,35000

### Joining two table with specific column not all column (<span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 16px; white-space: pre;">EmployeeID,FirstName,LastName,JobTitle,Salary</span>)

**INNER JOIN** base on <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 16px; white-space: pre;">EmployeeDemographics.EmployeeID</span>

In [29]:
SELECT EmployeeDemographics.EmployeeID,FirstName,LastName,JobTitle,Salary
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Salary
1001,Jim,Harin,Salesman,45000
1002,John,Mark,Receptionist,36000
1003,Riya,Ray,Salesman,63000
1004,Harry,pal,Accountant,47000
1005,Ram,Singh,HR,50000
1006,Harry,pal,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,Salesman,43000

**INNER JOIN** base on <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 16px; white-space: pre;"><b>EmployeeSalary.EmployeeID</b></span>

In [30]:
SELECT EmployeeSalary.EmployeeID,FirstName,LastName,JobTitle,Salary
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Salary
1001,Jim,Harin,Salesman,45000
1002,John,Mark,Receptionist,36000
1003,Riya,Ray,Salesman,63000
1004,Harry,pal,Accountant,47000
1005,Ram,Singh,HR,50000
1006,Harry,pal,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,Salesman,43000

RIGHT OUTER JOIN  Base on <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 16px; white-space: pre;">EmployeeSalary.EmployeeID</span>

In [31]:
SELECT EmployeeSalary.EmployeeID,FirstName,LastName,JobTitle,Salary
FROM EmployeeDemographics
RIGHT OUTER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Salary
1001,Jim,Harin,Salesman,45000
1002,John,Mark,Receptionist,36000
1003,Riya,Ray,Salesman,63000
1004,Harry,pal,Accountant,47000
1005,Ram,Singh,HR,50000
1006,Harry,pal,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1010,NULL,NULL,NULL,47000
1011,Ryan,Howard,Salesman,43000
NULL,NULL,NULL,HR,35000

**LEFT OUTER JOIN** base on <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 16px; white-space: pre;"><b style="">EmployeeSalary.EmployeeID</b></span>

In [35]:
SELECT EmployeeSalary.EmployeeID,FirstName,LastName,JobTitle,Salary
FROM EmployeeDemographics
LEFT OUTER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Salary
1001,Jim,Harin,Salesman,45000
1002,John,Mark,Receptionist,36000
1003,Riya,Ray,Salesman,63000
1004,Harry,pal,Accountant,47000
1005,Ram,Singh,HR,50000
1006,Harry,pal,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,Salesman,43000
NULL,Holly,Flax,NULL,NULL
NULL,Darryl,Philbin,NULL,NULL

### Join two table base on EmployeeId  and find  all employee salary except Whose  salary 65000

In [48]:
SELECT EmployeeDemographics.EmployeeID,FirstName,LastName,Salary
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
WHERE (Salary <> 65000  )
ORDER by Salary DESC

EmployeeID,FirstName,LastName,Salary
1003,Riya,Ray,63000
1005,Ram,Singh,50000
1008,Stanley,Hudson,48000
1004,Harry,pal,47000
1001,Jim,Harin,45000
1011,Ryan,Howard,43000
1009,Kevin,Malone,42000
1007,Meredith,Palmer,41000
1002,John,Mark,36000

### **Need to find the Aveage Salary of Jobtilte 'Salesman'**

In [56]:
SELECT JobTitle,AVG(Salary) AS 'Aveage_salary' 
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
WHERE JobTitle='Salesman'
GROUP BY JobTitle

JobTitle,Aveage_salary
Salesman,49750

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*    UNION ,    UNION ALL   \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [57]:
SELECT *
FROM EmployeeDemographics
SELECT*
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

## FULL OUTER JOIN of EmployeeDemographics and WarehouseEmployeeDemographics

In [58]:
SELECT * 
FROM EmployeeDemographics
FULL OUTER JOIN WareHouseEmployeeDemographics
ON EmployeeDemographics.EmployeeID =WareHouseEmployeeDemographics.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male,NULL,NULL,NULL,NULL,NULL
1002,John,Mark,35,Male,NULL,NULL,NULL,NULL,NULL
1003,Riya,Ray,28,Female,NULL,NULL,NULL,NULL,NULL
1004,Harry,pal,36,Male,NULL,NULL,NULL,NULL,NULL
1005,Ram,Singh,38,Male,NULL,NULL,NULL,NULL,NULL
1006,Harry,pal,36,Male,NULL,NULL,NULL,NULL,NULL
1007,Meredith,Palmer,32,Female,NULL,NULL,NULL,NULL,NULL
1008,Stanley,Hudson,38,Male,NULL,NULL,NULL,NULL,NULL
1009,Kevin,Malone,31,Male,NULL,NULL,NULL,NULL,NULL
1011,Ryan,Howard,26,Male,NULL,NULL,NULL,NULL,NULL
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,1013,Darryl,Philbin,NULL,Male
NULL,NULL,NULL,NULL,NULL,1050,Roy,Anderson,31,Male
NULL,NULL,NULL,NULL,NULL,1051,Hidetoshi,Hasagawa,40,Male
NULL,NULL,NULL,NULL,NULL,1052,Val,Johnson,31,Female

## UNION of EmployeeDemographics and WarehouseEmployeeDemographics(Show only unique recard discard duplicate)

In [59]:
SELECT *
FROM EmployeeDemographics
UNION
SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
NULL,Holly,Flax,NULL,NULL
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

## UNION ALL of EmployeeDemographics and WarehouseEmployeeDemographics(Show all record include duplicate)

In [61]:
SELECT *
FROM EmployeeDemographics
UNION ALL
SELECT * 
FROM WareHouseEmployeeDemographics
ORDER BY EmployeeID

EmployeeID,FirstName,LastName,Age,Gender
NULL,Holly,Flax,NULL,NULL
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

## 

- UNION of EmployeeDemographics and EmployeeSalary(union see the datatype of both table and match acc. to it below example are wrong as it  combine firstname with jobtilte and salary with age as both datatype same (varchar and int)

In [63]:
SELECT EmployeeID,FirstName,Age
FROM EmployeeDemographics
UNION 
SELECT EmployeeID,JobTitle,Salary
FROM EmployeeSalary
ORDER BY EmployeeID

EmployeeID,FirstName,Age
NULL,Holly,NULL
NULL,HR,35000
1001,Jim,32
1001,Salesman,45000
1002,John,35
1002,Receptionist,36000
1003,Riya,28
1003,Salesman,63000
1004,Accountant,47000
1004,Harry,36
1005,HR,50000
1005,Ram,38
1006,Harry,36
1006,Regional Manager,65000
1007,Meredith,32
1007,Supplier Relations,41000
1008,Salesman,48000
1008,Stanley,38
1009,Accountant,42000
1009,Kevin,31
1010,NULL,47000
1011,Ryan,26
1011,Salesman,43000
1013,Darryl,NULL

# **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*HAVING CLAUSE\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [64]:
SELECT JobTitle ,COUNT(JobTitle) AS 'Count_of_jobtitle'
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
GROUP BY JobTitle

JobTitle,Count_of_jobtitle
Accountant,2
HR,1
Receptionist,1
Regional Manager,1
Salesman,4
Supplier Relations,1

In [65]:
SELECT JobTitle ,COUNT(JobTitle) AS 'Count_of_jobtitle'
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
WHERE COUNT(JobTitle)>1
GROUP BY JobTitle

: Msg 147, Level 15, State 1, Line 5
An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.

**HAVING CLAUSE**

In [67]:
SELECT JobTitle ,COUNT(JobTitle) AS 'Count_of_jobtitle'
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING COUNT(JobTitle)>1

JobTitle,Count_of_jobtitle
Accountant,2
Salesman,4

In [71]:
SELECT JobTitle ,AVG(Salary) AS 'Average_of_Salary'
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING AVG(Salary) > 44500
ORDER by AVG(Salary)

JobTitle,Average_of_Salary
Salesman,49750
HR,50000
Regional Manager,65000

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* UPDATING  And DELETING DATA \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [72]:
SELECT * 
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

**UPDATE THE DATA**

In [75]:
UPDATE EmployeeDemographics
SET EmployeeID =1012,Age=33,Gender='Male'
WHERE FirstName='Holly' AND LastName='Flax'

In [76]:
SELECT * 
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,33,Male
1013,Darryl,Philbin,NULL,Male

### **DELETE Statement**

In [79]:
DELETE 
FROM EmployeeDemographics
WHERE EmployeeID=1006

SELECT*
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,33,Male
1013,Darryl,Philbin,NULL,Male

In [82]:
SELECT/*DELETE*/ *
FROM EmployeeDemographics
WHERE EmployeeID=1009

EmployeeID,FirstName,LastName,Age,Gender
1009,Kevin,Malone,31,Male

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* ALIASING \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

### 

- Aliasing(AS) used to temporary  rename of columne

In [86]:
SELECT FirstName  FName  ---- Can used AS (FirstName AS FName) OR Just Space(FirstName  FName)
FROM EmployeeDemographics

FName
Jim
John
Riya
Harry
Ram
Meredith
Stanley
Kevin
Ryan
Holly
Darryl

### **Adding First Name And Last Name and Make it Full Name**

In [87]:
SELECT FirstName + ' ' + LastName AS FullName
FROM EmployeeDemographics

FullName
Jim Harin
John Mark
Riya Ray
Harry pal
Ram Singh
Meredith Palmer
Stanley Hudson
Kevin Malone
Ryan Howard
Holly Flax
Darryl Philbin

### ALIASING our Table

In [95]:
SELECT DEMO.EmployeeID,DEMO.FirstName,SAL.Salary,WARE.Gender
FROM EmployeeDemographics AS DEMO
JOIN EmployeeSalary AS SAL 
ON DEMO.EmployeeID=SAL.EmployeeID
JOIN WareHouseEmployeeDemographics AS WARE
ON DEMO.EmployeeID=WARE.EmployeeID

SELECT*FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [105]:
UPDATE EmployeeDemographics
SET Age=34
WHERE EmployeeID=1013

INSERT INTO EmployeeDemographics VALUES
(1010,'Reema','Sharma',36,'Female')

UPDATE EmployeeSalary
SET JobTitle='Accountant'
WHERE EmployeeID =1010

UPDATE EmployeeSalary
SET EmployeeID='1013'
WHERE Salary =35000 AND JobTitle='HR'

INSERT INTO EmployeeSalary VALUES
(1012,'Regional Manager',49000)

  /*  DELETE
    FROM EmployeeSalary
    WHERE EmployeeID=1006*/

In [103]:
DELETE
    FROM EmployeeSalary
    WHERE EmployeeID IN(1010,1012,1013)

DELETE
    FROM EmployeeDemographics
    WHERE EmployeeID IN(1010,1013)

In [108]:
INSERT INTO EmployeeSalary VALUES
(1010,'Regional Manager',52000)

In [109]:
SELECT*
FROM EmployeeDemographics
ORDER BY EmployeeID
SELECT*
FROM EmployeeSalary
ORDER BY EmployeeID

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1010,Reema,Sharma,36,Female
1011,Ryan,Howard,26,Male
1012,Holly,Flax,33,Male

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,Regional Manager,52000
1011,Salesman,43000
1012,Regional Manager,49000

# **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* PARTITION BY \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [113]:
SELECT FirstName,LastName,Gender,Salary,COUNT(Gender) OVER (PARTITION BY Gender) AS TOTAL_GENDER
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID

FirstName,LastName,Gender,Salary,TOTAL_GENDER
Riya,Ray,Female,63000,3
Meredith,Palmer,Female,41000,3
Reema,Sharma,Female,52000,3
Stanley,Hudson,Male,48000,8
Kevin,Malone,Male,42000,8
Ryan,Howard,Male,43000,8
Holly,Flax,Male,49000,8
Harry,pal,Male,47000,8
Ram,Singh,Male,50000,8
Jim,Harin,Male,45000,8
John,Mark,Male,36000,8

In [114]:
SELECT FirstName,LastName,Gender,Salary,COUNT(Gender)  AS TOTAL_GENDER
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
GROUP BY FirstName,LastName,Gender,Salary

FirstName,LastName,Gender,Salary,TOTAL_GENDER
Harry,pal,Male,47000,1
Holly,Flax,Male,49000,1
Jim,Harin,Male,45000,1
John,Mark,Male,36000,1
Kevin,Malone,Male,42000,1
Meredith,Palmer,Female,41000,1
Ram,Singh,Male,50000,1
Reema,Sharma,Female,52000,1
Riya,Ray,Female,63000,1
Ryan,Howard,Male,43000,1
Stanley,Hudson,Male,48000,1

In [115]:
SELECT Gender,COUNT(Gender)  AS TOTAL_GENDER
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
GROUP BY Gender

Gender,TOTAL_GENDER
Female,3
Male,8